<!-- start module content -->
<table width="100%" border="0">
  <tr>
    <td class="odd"><img src="<{$xoops_url}>/modules/comics/logo.gif" align="right"><{$lang_co_kies}>:</td>
  </tr>
  <tr>
    <td class="even">
<ul>
<{if $sdilbert == "On"}>	<li><A HREF="<{$xoops_url}>/modules/comics/showcomic.php?comic=dilbert">Dilbert</A><br> <{/if}>
<{if $sgarfield == "On"}>	<li><A HREF="<{$xoops_url}>/modules/comics/showcomic.php?comic=garfield">Garfield</A><br> <{/if}>
<{if $s9to5 == "On"}>		<li><A HREF="<{$xoops_url}>/modules/comics/showcomic.php?comic=9to5">9 to 5</A><br> <{/if}>
<{if $sclose == "On"}>		<li><A HREF="<{$xoops_url}>/modules/comics/showcomic.php?comic=close">Close to Home</A><br> <{/if}> 
<{if $sbaldo == "On"}>		<li><A HREF="<{$xoops_url}>/modules/comics/showcomic.php?comic=baldo">Baldo</A><br> <{/if}>
<{if $skama == "On"}>		<li><A HREF="<{$xoops_url}>/modules/comics/showcomic.php?comic=kama">Kamagurka</A><br> <{/if}>
<{if $smopvddag == "On"}>	<li><A HREF="<{$xoops_url}>/modules/comics/showcomic.php?comic=mopvddag">Mop v/d Dag</A><br> <{/if}>
<{if $sufriendly == "On"}>	<li><A HREF="<{$xoops_url}>/modules/comics/showcomic.php?comic=ufriendly">User friendly</A><br> <{/if}>
<{if $shumorgraf == "On"}>	<li><A HREF="<{$xoops_url}>/modules/comics/showcomic.php?comic=humorgraf">Humor Grafico</A><br> <{/if}>
<{if $smomma == "On"}>		<li><A HREF="<{$xoops_url}>/modules/comics/showcomic.php?comic=momma">Momma</A><br> <{/if}>
<{if $ssinfest == "On"}>	<li><A HREF="<{$xoops_url}>/modules/comics/showcomic.php?comic=sinfest">Sinfest</A><br> <{/if}>
<{if $suser == "On"}>		<li><A HREF="<{$xoops_url}>/modules/comics/showcomic.php?comic=user"><{$susertitel}></A><br> <{/if}>
</ul>
	</td>
  </tr>
</table>

<!-- end module content -->