<!-- The menu -->
|&nbsp; 
<{if $sdilbert == "On"}>
<{if $comic == "dilbert"}>
<b>Dilbert</b> &nbsp;|&nbsp;
<{else}>
<a href="showcomic.php?comic=dilbert">Dilbert</a> &nbsp;|&nbsp;
<{/if}>
<{/if}>


<{if $sgarfield == "On"}>
<{if $comic == "garfield"}>
<b>Garfield</b> &nbsp;|&nbsp;
<{else}>
<a href="showcomic.php?comic=garfield">Garfield</a> &nbsp;|&nbsp;
<{/if}>
<{/if}>


<{if $s9to5 == "On"}>
<{if $comic == "9to5"}>
<b>9 to 5</b> &nbsp;|&nbsp;
<{else}>
<a href="showcomic.php?comic=9to5">9 to 5</a> &nbsp;|&nbsp;
<{/if}>
<{/if}>


<{if $sclose == "On"}>
<{if $comic == "close"}>
<b>Close To Home</b> &nbsp;|&nbsp;
<{else}>
<a href="showcomic.php?comic=close">Close To Home</a> &nbsp;|&nbsp;
<{/if}>
<{/if}>


<{if $sbaldo == "On"}>
<{if $comic == "baldo"}>
<b>Baldo</b> &nbsp;|&nbsp;
<{else}>
<a href="showcomic.php?comic=baldo">Baldo</a> &nbsp;|&nbsp;
<{/if}>
<{/if}>


<{if $skama == "On"}>
<{if $comic == "kama"}>
<b>Kamagurka</b> &nbsp;|&nbsp;
<{else}>
<a href="showcomic.php?comic=kama">Kamagurka</a> &nbsp;|&nbsp;
<{/if}>
<{/if}>


<{if $smopvddag == "On"}>
<{if $comic == "mopvddag"}>
<b>Mop v/d Dag</b> &nbsp;|&nbsp;
<{else}>
<a href="showcomic.php?comic=mopvddag">Mop v/d Dag</a> &nbsp;|&nbsp;
<{/if}>
<{/if}>


<{if $sufriendly == "On"}>
<{if $comic == "ufriendly"}>
<b>User Friendly</b> &nbsp;|&nbsp;
<{else}>
<a href="showcomic.php?comic=ufriendly">User Friendly</a> &nbsp;|&nbsp;
<{/if}>
<{/if}>

<{if $shumorgraf == "On"}>
<{if $comic == "humorgraf"}>
<b>Humor Grafico</b> &nbsp;|&nbsp;
<{else}>
<a href="showcomic.php?comic=humorgraf">Humor Grafico</a> &nbsp;|&nbsp;
<{/if}>
<{/if}>

<{if $smomma == "On"}>
<{if $comic == "momma"}>
<b>Momma</b> &nbsp;|&nbsp;
<{else}>
<a href="showcomic.php?comic=momma">Momma</a> &nbsp;|&nbsp;
<{/if}>
<{/if}>

<{if $ssinfest == "On"}>
<{if $comic == "sinfest"}>
<b>Sinfest</b> &nbsp;|&nbsp;
<{else}>
<a href="showcomic.php?comic=sinfest">Sinfest</a> &nbsp;|&nbsp;
<{/if}>
<{/if}>

<{if $suser == "On"}>
<{if $comic == "user"}>
<b><{$susertitel}></b> &nbsp;|&nbsp;
<{else}>
<a href="showcomic.php?comic=user"><{$susertitel}></a>&nbsp;|
<{/if}>
<{/if}>
    <!-- end The menu -->